extends ./layout/base.pug

block meta
	- config.pageTitle = 'Книги';
	- config.title = config.pageTitle + ' - ' + config.title;
	- config.description = 'some page description for books page';

block content
	include layout/catalog.pug