.header {
	margin-bottom: 40px;
	background-image: linear-gradient(to bottom, #e9e9e9, $bg-color);
	
	&__inner {
		height: $header-height;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		img {
			max-height: $header-height; 
		}
	}
	&__logo-link {
		display: block;
	}
	&__menu {
		margin-right: auto;
	}
	&__contacts {
	}
}
