.main-menu {
	padding: 0 18px;

	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
	}
	&__link {
		position: relative;
		z-index: 1;
		height: $header-height;
		display: flex;
		align-items: center;
		padding: 0 18px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: #b3ffe5;
			transform: translateY(-100%);
			transition: all 0.3s ease-in-out;
		}
		&:hover {
			&::after {
				transform: translateY(0);
			}
		}
	}
}
