//- project config 

-
	var config = {
		lang: 'ru',
		title: 'Vporyadke',
		description: 'Книжный магазин vporyadke || добавить описание',
		color: '#ffffff',
		og: {
			title: 'open graph title',
			image: 'open graph image',
		},
		twitter: {
			creator: '@kikeldmitry',
			site: '@kikeldmitry',
		},
	};

include mixins.pug