header.header
	.header__inner.inner
		.header__logo
			a.header__logo-link(href="/")
				img(src="/img/vporyadke-logo.png" alt='vporyadke logo')
		.header__menu
			include mainMenu.pug
		.header__contacts
			include contacts.pug