-
	var menu = [
		{
			title: 'Книги',
			url: '/books.html',
		},
		{
			title: 'Не книги',
			url: '/not-a-books.html',
		},
		{
			title: 'Мы',
			url: '/about.html',
		},
	];
nav.main-menu
	ul.main-menu__list
		each item in menu
			li.main-menu__item
				a.main-menu__link(href=item.url) #{item.title}